/*
 * CMPT 120
 * Project #4
 * Tyler Galske
 * 11/10/15
 */
 
 html, *{
	font-family: arial;
	margin: 0 auto;
 }
 
 body{
	background: linear-gradient(#C0C0C0, #fff);
 }
 
 .container{
	position: relative;
	margin-left: 50px;
	margin-top: 25px;
	text-align: center;
 }
  
#scene {
	margin-top: 25px;
	color: black;
	margin-bottom: 10px;
	font-size: 20px;
}

#itemMsg {
	color: green;
	margin-bottom:10px;
}

#errorMsg {
	color: red;
}

button {
	padding: 5px;
	border-color: black;
	margin: 2px;
	border-radius: 5px;
}

#score {
	color: blue;
	font-size: 24px;
}

#items {
	color: purple;
	font-size:20px;
}

#moves {
	color: #585858;
	font-size: 20px;
}



